learning_rate: 3.0e-4
weight_decay: 0.1
betas: [0.9, 0.95]
eps: 1.0e-8
ignore_index: -100
precision: "bf16-mixed"
accumulate_grad_batches: 1
grad_clip_norm: 1.0
scheduler: "cosine"
warmup_steps: 2000
max_steps: 100000
min_lr: 6.0e-5
save_every_n_steps: 1000
save_top_k: 3
